body{
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', serif;
    background-color: rgb(248, 227, 213);
  }
/********* nav and header *********/
header{
    background: rgb(245, 187, 148);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px
}
.nav_links a{
    padding: 8px 10px;
    margin: 2px;
    color:rgb(49, 38, 6);
    text-decoration: none;
    font-size:0.9em;
  }

.nav_links a:visited{
    color: rgb(49, 38, 6);
}

#current{
  background-color: rgb(238, 194, 164);
  border-radius: 6px;
  box-shadow: 0.2em 0 .4em ;
  
}
p.title{
   font-size: 2.5em;
   color: black;
   font-family: 'Permanent Marker', cursive;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

/******** logo animation ********/
#logo{
  animation-name: logo;
  animation-duration: 5s;
  animation-iteration-count: 1;
}


@keyframes logo{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 




/******** footer *********/
footer{
  background-color:rgb(245, 187, 148);
  color:black;
  padding: 30px;
}

.contact{
  text-align: center;
}
.icon{
  display:flex;
  flex-direction: row;
  justify-content:center;
}
.icon a{
  width:2em;
  height:2em;
  margin: 10px;    
}

/******** mobile homepage *********/
#intro{
    margin:20px;
    padding: 10px;
}

h1{
    font-size: 1.3em;
    font-family: 'Permanent Marker', cursive;
}

.container-grid {
  display: grid;
    grid-template-columns:  40% 25% auto;
    grid-template-rows:  150px 150px 300px 150px 150px 300px 150px 150px 300px;
    grid-gap: 5px;
    margin: 20px;
  }
a, .flip-card-back h2{
    text-decoration: none;
}
.flip-card {
    background-color: transparent;
    perspective: 1000px; /* 3D effect */
  }

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  .flip-card-back {
    background-color: burlywood;
    text-align: center;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card-back h2{
      font-weight: 800;
      color:rgb(116, 80, 35);
      font-size: 1.5em;
  }
  
  .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
 

.flip-card:hover .flip-card-inner , .flip-card:active .flip-card-inner, .flip-card:focus .flip-card-inner,.flip-card:focus-within .flip-card-inner
{
    transform: rotateY(180deg);
  }

.grid-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

.photo-1 { 
    grid-column: 3/4;
    grid-row: 1/3;
}

.photo-2{ 
    grid-column: 1/4;
    grid-row: 3/4;
}

.photo-3 { 
    grid-column: 1/3;
    grid-row: 1/3;
}

.photo-4 { 
    grid-column: 1/2;
    grid-row: 4/6;
}
.photo-5 { 
    grid-column: 2/4;
    grid-row: 4/6;
}
.photo-6 { 
    grid-column: 1/4;
    grid-row: 6/7;
}
.photo-7 { 
    grid-column: 1/3;
    grid-row: 7/9;
}
.photo-8 { 
    grid-column: 3/4;
    grid-row: 7/9;

}
.photo-9 { 
    grid-column: 1/4;
    grid-row: 9/10;

}
.photo-1:hover , .photo-1:focus, .photo-2:hover, .photo-2:focus,.photo-3:hover, .photo-3:focus,
.photo-4:hover, .photo-4:focus, .photo-5:hover, .photo-5:focus, .photo-6:hover, .photo-6:focus,
.photo-7:hover, .photo-7:focus, .photo-8:hover, .photo-8:focus, .photo-9:hover, .photo-9:focus
{
    transform: scale(1.03);
    z-index:1;
    box-shadow:0 0 5px 3px rgb(80, 31, 2);
}



  /******** mobile sightseeing ********/

  #introduction{
    background-attachment: fixed; /* Parallax effect */
    background-position:top; /* Parallax effect */
    background-size:contain; /* Parallax effect */
    height: 300px; /* Parallax effect */
    grid-row:1;
    background-image: url("../img/balloon.jpg");
    background-repeat: no-repeat;
    opacity: .8;
  }

.titles{
    margin-top: 5px;
}
.titles h1{
    font-weight: 800;
    font-size: 2.5em;
    z-index: 1;
    color:black;
    text-align: center;
    font-family: 'Permanent Marker', cursive;

}
.titles p{
    text-align: center;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:300px;
    margin: 30px auto;
    font-family: 'Acme', sans-serif;
    background-color: rgb(248, 193, 168);
}
.card img{
    height: 350px;
    width: 300px;
    object-fit:cover;
}
.container-card {
    padding: 2px 16px;
  }
.container-card h2{
    text-align: center;
    font-weight: 800;
    font-size: 2em;
}
.star{
    text-align: center;
}
.card-item{
    padding:5px;
}


/********* mobile login and register*********/
.login-intro{
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    padding-top:10px ;
    
}
.welcome{
  text-align:center;
  font-size: 1.5em;
  font-weight: 500;

}
.login-card{
  width:80%;
  margin: 30px auto;
}
.login-container-card {
  padding: 2px 16px;
}

.login-card-item{
  padding:5px;
  text-align: center;
}
.login-container-card h2{
  font-size: 2em;
}

button{
  transition-duration:0.4s;
  background-color: rgb(80, 34, 21);
  color:rgb(248, 246, 245);
  font-weight: 700;
  border: rgb(80, 34, 21);
  border-radius: 2px;
  padding: 5px 8em;
}
button:hover{
  transform: scale(1.03);
  z-index:1;
  box-shadow:0 0 5px 3px; 
}

.fav-photo1:hover, .fav-photo2:hover, .fav-photo3:hover, .fav-photo4:hover
{
    transform: scale(1.03);
    z-index:1;
    box-shadow:0 0 5px 3px rgb(80, 31, 2);
    opacity: 1;
}

.login-container{
  display:grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 2fr 1fr 0.2fr 1fr 1fr 0.2fr;
  padding: 0 12%;
  grid-gap: 5px;
}
.login-card-with-item{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  grid-column: 1/-1;
  grid-row:1/3;
  margin:2rem 0;
}
.login-card{
  width:100%;
  grid-column:1/-1;
  grid-row:1/2;
  align-items: center;
}


.login-container-card{
  grid-column:1/-1;
  grid-row:2/3;
}

.fav-content {
  grid-column:1/-1;
  grid-row:3/4;
  text-align: center;
}
.fav-content h3{
  font-weight: 700;
  font-size:2em;
}
.fav-content p{
  font-size:1em;
  font-family: 'Acme', sans-serif;
}
.fav-photo1{
  grid-column:1/2;
  grid-row: 4/5;
  opacity: 0.5;
}
.fav-photo2{
  grid-column:2/3;
  grid-row: 4/5;
  opacity: 0.5;
}
.fav-photo3{
  grid-column:1/2;
  grid-row: 5/6;
  opacity: 0.5;
}
.fav-photo4{
  grid-column:2/3;
  grid-row: 5/6;
  opacity: 0.5;
}

/******* Contact ******/
.contact-page{
  text-align: center;
  font-size: 2em;
}
.contact-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width:80%;
  margin:30px auto;
  
}
.contact-container-card {
  padding: 2px 16px;
}

.contact-container-card h2{
  font-size: 1.5em;
}

.contact-card-item{
  padding:5px;
  text-align: center;
}
/*
@media screen and (min-width: 425px){
  .nav_links a{
    font-size:1.1em;
  }
}
*/
/**** reduce motion ****/
@media screen and (prefers-reduced-motion: reduce){
  /*Turn off scroll*/
  html{
      scroll-behavior:auto /* Removes scroll animation */
  }

  /*Turn off transition*/
  a.skip:focus{
    top:-50px;
  }
  .skip a{
    -webkit-transition: initial; /* sets to default setting */
    transition: initial; /* sets to default setting */
  }

  #introduction{
    background-image:scroll;  /* Parallax effect */
  }

  #logo{
      animation: none;
    }

  .flip-card:hover .flip-card-inner , .flip-card:active .flip-card-inner, .flip-card:focus .flip-card-inner,.flip-card:focus-within .flip-card-inner
  {
        transform: none;
    }

}


/******** Tablet********/
@media screen and (min-width: 850px){

    /**** nav and header****/
    header {
      flex-direction: row;
      justify-content: space-between;
    }
    .nav_links a{
      margin: 4px;
      font-size:1.3em;
    }
    /****** homepage *******/
    .title{
      padding: 20px;
    }
    #intro{
      text-align: center;

    }
    #intro h1{
      font-size: 2.5em;
    }
    #intro p{
      font-size: 1.2em;
    }
    .container-grid{
      grid-template-columns:  25% 25% 25% 25%;
      grid-template-rows:  200px 200px 200px 200px 200px 200px 200px;
      padding: 0 15%;
    }
    .flip-card-back h2{
      font-size: 2.5em;
  }

    .photo-1 { 
      grid-column: 4/ 5;
      grid-row: 1/3;
  }
  
    .photo-2{ 
      grid-column: 2/ 4;
      grid-row: 1/ 3;
  }
  
    .photo-3 { 
      grid-column: 1/2;
      grid-row: 1/3;
  }
  
    .photo-4 { 
      grid-column: 1/2;
      grid-row: 3/5;
  }
    .photo-5 { 
      grid-column: 2/4;
      grid-row: 3/5;
  }
    .photo-6 { 
      grid-column: 4/5;
      grid-row: 3/5;
  }
    .photo-7 { 
      grid-column: 1/2;
      grid-row: 5/7;
  }
    .photo-8 { 
      grid-column: 4/5;
      grid-row: 5/7;
  
  }
    .photo-9 { 
      grid-column: 2/4;
      grid-row: 5/7;
    }
  /******** sightseeing********/
  #introduction{
    height: 430px; 
    background-image: url("../img/landscape.jpg");
  }
  .titles p {
    font-size:1.3em;
  }

  .card-grid-container{
    /*padding: 0 12%;*/
    display: grid;
    grid-template-columns:  auto auto;
    grid-template-rows:  auto auto auto auto auto;
    grid-gap: 5px;
    margin: 20px;
  }
  


  /******** login and register*******/
  .login-container{
    grid-template-columns:  0.75fr 0.75fr 0.15fr 0.75fr 0.75fr;
    grid-template-rows: 0.2fr 0.1fr 0.3fr 1fr 1fr 0.3fr;
  }
  .login-card-with-item{
    grid-column: 1/3;
    grid-row:1/-1;
  }
  .login-card{
    grid-column:1/3;
    grid-row:1/5;
  }
  .login-container-card{
    grid-column:1/3;
    grid-row:5/-1;
  }
  .fav-content {
    grid-column:4/-1;
    grid-row:2/3;
  }
  .fav-photo1{
    grid-column:4/5;
    grid-row: 4/5;
  }
  .fav-photo2{
    grid-column:5/6;
    grid-row: 4/5;
  }
  .fav-photo3{
    grid-column:4/5;
    grid-row: 5/6;
  }
  .fav-photo4{
    grid-column:5/6;
    grid-row: 5/6;
  }


  /*contact*/
  .contact-page{
    text-align: center;
    font-size: 2em;
  }
  .contact-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:50%;
    
  }
  .contact-container-card {
    padding: 2px 16px;
  }
  
  .contact-card-item{
    padding:5px;
    text-align: center;
  }
}

/***** The Largest Size ****/
@media screen and (min-width: 1200px){
  
  /**** nav and header****/
  .nav_links a{
    margin: 4px;
    font-size:1.5em;
  }

  /**** Homepage ****/
  #intro p{
    font-size: 1.5em;
  }

  /***** sightseeing page ****/
  #intro h1{
    font-size: 3em;
  }
  .titles p {
    font-size:1.5em;
  }
  .card-grid-container{
    /*padding: 0 12%;*/
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-template-rows:  auto auto auto;
    grid-gap: 5px;
    margin: 20px;
  }

  /******** login and register*******/
  .login-intro{
      font-size: 3em;
  }
  /***** contact form page *****/
  .contact-page{
    font-size: 3em;
  }
  .contact-card{
    width:40%;
    
  }
}

@media screen and (max-width: 400px){
  .nav_links{
    padding:4px
}
.nav_links a{
    padding: 4px 6px;
    margin: 2px;
    font-size:0.7em;
  }
  
  
  /***login ***/

  .login-container{

    padding: 0 3%;
    grid-gap: 5px;
  }

  /*** contact ***/
  .contact-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:100%;
    margin:30px 0;
  }
}